# --- Python ---
env/
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
.Python
db.sqlite3

# --- Django ---
*.pyc
staticfiles/
media/
local_settings.py
.env
*.DS_Store
migrations/

# Ignore all app-level migrations but keep __init__.py
*/migrations/[!__init__]*

# --- React ---
frontend/node_modules/
frontend/build/
frontend/.env

# --- IDE/Editor ---
.vscode/
.idea/

# --- OS ---
.DS_Store
Thumbs.db
